<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
