<!-- <div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox" [(ngModel)] ="mail.selected" class="mail-select">
  </div>
  <div class="people col-sm-2" routerLink="/mail/{{mail._id}}">
    <span class="people-names">
            {{mail.to}}
        </span>
  </div>

  <div class="message col-sm-7" routerLink="/mail/{{mail._id}}">
    <div class="clipper">
      <h3>{{mail.subject}}</h3>
      -
      <p>{{mail.body}}</p>
       | limitTo:100 
    </div>
  </div>
</div> -->
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
<div class="email-item row unread">
  <div class="check" col-sm-1>
    <input type="checkbox"  class="mail-select">
  </div>
  <div class="people col-sm-2" >
    <span class="people-names">
            me
        </span>
  </div>

  <div class="message col-sm-7" >
    <div class="clipper">
      <h3>angular course</h3>
      -
      <p>angular course for all it start from basic of angular typescript</p>
      <!-- | limitTo:100 -->
    </div>
  </div>
</div>
